<div class="diary-index-wrapper">
  <div class="container">
		<h1 class="text-center text-white">マイページ</h1>
		<% @diaries.each do |diary| %>
			<div class="row">
      	<div class="diary-index-single">
					日記一覧
					<p class='text-white'>
		       	タイトル：<%= diary.title %>
		      </p>
					<% @tags.each do |tag| %>
						<%= tag.name %>
					<% end %>
		    </div>
			</div>
	  <% end %>
	</div>
</div>
