<div class="index-wrapper">
  <div class="container">
		<h1 class="text-center text-white">マイページ</h1>
			<div class="row">
      	<div class="index-single">
					<h4>タグ一覧</h4>
					<% @tags.each do |tag| %>
						<%= tag.name %>
					<% end %>
				</div>
				<div class="index-single" style="width:350px;">
					<h4 class="title-ranking">タグランキングTOP10</h4>
          <% count = 0%>
					<% @tags_count.each do |tag_count| %>
          <table>
            <tr>
              <td class="td-ranking"><%= count = count + 1 %>位</td>
              <td class="td-ranking"><%= link_to "#{tag_count}", diaries_tagIndex_path(selected_name: tag_count.name) %></td>
              <td class="td-ranking"><%= tag_count.taggings_count %>回</td>
            </tr>
          </table>
					<% end %>
		    </div>
        <table>
			</div>
	</div>
</div>
